<!-- posts/templates/posts/list-posts.html -->

{% extends "layouts/layout.html" %}
{% block title %}
    List Post | {{ block.super }}
{% endblock title %}
{% block content %}
  <h4><small>List Posts</small></h4>
  <hr>
  {% if posts %}
    {% for post in posts %}
    <h2>{{post.name}}</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post at {{post.timestamp}}</h5>
    <p>{{post.content}}</p>
    <br><br>
    {% endfor %}
  {% else %}
    No song.
  {% endif %}
{% endblock content %}
