{% load static %}
<script src="{% static 'javas.js' %}"></script>
<link rel="stylesheet" href="{% static 'css.css' %}">
<html>
<head>
    <title>Server management</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    #form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        border: 2px solid;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        background-color: #f1f1f1;
    }
</style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 8px 100px; margin-bottom: 8px">
    <a class="navbar-brand" href="/">IT assets management platform</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/services">Service management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/servers">Servers management<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'users' %}">User management<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <i>Logged in as {{ user }} </i>
        </div>
        <div>
            <a class="nav-link" href="{% url 'change_password' %}" >Change password <span class="sr-only">(current)</span></a>
        </div>
        <div>
            <a class="nav-link" href="{% url 'logout' %}" >Logout <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="col-12 text-center" style="width:2000px; margin:20 auto;">
    <h1>Server detail modification</h1>
</div>


<div id="form">
    <div class="row">
        <div class="col-12 text-center">
            <form action="{% url 'server_modify' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="OK">
            </form>
        </div>
    </div>

</div>
