<html>
<head>
    <title>login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 8px 100px; margin-bottom: 8px">
    <a class="navbar-brand" href="#">System administrator</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/huong-dan">Quản lý server<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/users/auth/user/">Quản lý user<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'logout' %}" >Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-12 text-center">
        <h1>abc xys</h1>
    </div>
</div>

</body>
</html>
